     body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }

        form {
            width: 400px;
            margin: 20px auto;
            background-color: white;
            padding: 30px;
            border-radius: 10px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-family: sans-serif;
        }

        input[type="submit"] {
            background-color: #000;
            color: #fff;
            padding: 15px;
            border-radius: 5px;
            border: 0;
            cursor: pointer;
        }
        .col-1 {
            background-color: #eee;
           height: 20px;
           padding: 30px;

            
        }
        .col-1 a{
          padding-right: 80px;
          padding-left: 80px;
        }
         footer {
            background-color: #666;
            padding: 10px;
            text-align: center;
        }